body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
  font-family: sans-serif;
}

.b {
  height: 700px;
  position: absolute;
  left:800px;
  top:50px;
  width: 700px;
  background-color: gray;
  display: none;
  border-radius: 10% 2% 10% 10%;
}
.p,
.s {
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}
.flecha {
  position: absolute;
  color: white;
  font-size: 32px;
  display: none;
}
#fi {
  top: 350px;
  left: 19px;
}
#fd {
  top: 350px;
  left: 756px;
}
.sol {
  --size: 500px;
  --top: 200px;
  --left: -250px;
  top: var(--top);
  left: var(--left);
  background-image: url(imgs/sun.gif);
  background-size: cover;
}
.mercurio {
  --size: 40px;
  --top: 430px;
  --left: 300px;
  top: var(--top);
  left: var(--left);
  background-image: url(imgs/mercury.gif);
  background-size: cover;
}
.venus {
  --size: 60px;
  --top: 420px;
  --left: 400px;
  top: var(--top);
  left: var(--left);
  background-image: url(imgs/venus.gif);
  background-size: cover;
}
.tierra {
  --size: 70px;
  --top: 415px;
  --left: 500px;
  top: var(--top);
  left: var(--left);
  background-image: url(imgs/earth.gif);
  background-size: cover;
}
.marte {
  --size: 60px;
  --top: 420px;
  --left: 600px;
  top: var(--top);
  left: var(--left);
  background-image: url(imgs/mars.gif);
  background-size: cover;
}
.jupiter {
  --size: 200px;
  --top: 350px;
  --left: 700px;
  top: var(--top);
  left: var(--left);
  background-image: url(imgs/jupiter.gif);
  background-size: cover;
}
.saturno {
  --size: 150px;
  --top: 375px;
  --left: 900px;
  top: var(--top);
  left: var(--left);
  background-image: url(imgs/saturn.gif);
  background-size: cover;
}
.urano {
  --size: 125px;
  --top: 377.5px;
  --left: 1100px;
  top: var(--top);
  left: var(--left);
  background-image: url(imgs/uranus.gif);
  background-size: cover;
}
.neptuno {
  --size: 130px;
  --top: 375px;
  --left: 1300px;
  top: var(--top);
  left: var(--left);
  background-image: url(imgs/neptune.gif);
  background-size: cover;
}
.left {
  float: none;
}
.right {
  float: right;
}
agrandar {
  height: 700px;
  width: 700px;
  top: 50px;
  left: 50px;
  "pointer-events": none;
}
#cerrar {
  position: absolute;
  height: 20px;
  width: 20px;
  background-image: url("xbutton.png");
  border-radius: 0%;
  top: 55px;
  left: 1475px;
  background-size: cover;
  vertical-align: center;
  display: none;
  -webkit-user-select: none;

}
#Sol,#Mercurio,#Venus,#Tierra,#Marte,#Júpiter,#Saturno,#Urano,#Neptuno {
  margin: 0 0 0 0;
  position: absolute;
  height: 420px;
  width:650px;
  color: white;
  top:75px;
  left:825px;
  display: none;
}
.IMGS {
  position: absolute;;
  width: 650px;
}
a {
  position: absolute;
  top: 625px;
  width:700px;
  color: white;
  text-decoration: none;
  font-size: 30px;
  text-align-last: center;
}
#Titulo {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: white;
}
#controles {
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
  font-size: 24;
  color: white;
}
